@import "../../styles/variables.scss";

.wrapper {
  position: relative;
  width: max-content;
  cursor: pointer;
  .cart {
    width: 30px;
    height: 30px;
  }

  .count {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: $color_ok;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    right: -15px;
    top: -15px;
  }
}
